<h1>Mostrando datos de una BD</h1>  

{{ listabd }}

<ul>

    
    {% for prueba in listabd %}
    <li>{{prueba.titulo }}</li>
    <li>{{prueba.subtitulo}}</li>
        
    {% endfor %}
        
</ul>